@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    font-family: 'Playfair Display', serif;
    margin: auto;
    max-width: 960px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.grid-container{
    display: grid;
    width: 100%;
    grid-template-areas: 'auto auto auto auto';
    column-gap: 6px;
    row-gap: 6px;
    margin: auto;
}

.item1{
    grid-column: 1 / 5;
}

.item2{
    grid-column: 1 / 5;
}

.item3{
    grid-column: 1 / 5;
    background-color: pink;
    color: white;
    font-size: 25px;
    text-align: center;
}

.item4{
    grid-column: 1 / 3;
    background-image: url(https://images.pexels.com/photos/458766/pexels-photo-458766.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);

    background-size: cover;
    width: 100%;
    max-width: 480px;
    height: 350px;
}

.item5{
    grid-column: 3 / 5;
    background-image: url(https://images.pexels.com/photos/1716539/pexels-photo-1716539.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    width: 100%;
    max-width: 480px;
    height: 350px;
}

.item6{
    grid-column: 1 / 3;
    background-image: url(https://images.pexels.com/photos/7383107/pexels-photo-7383107.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    width: 100%;
    max-width: 480px;
    height: 350px;
}

.item7{
    grid-column: 3 / 5;
    background-image:url(https://images.pexels.com/photos/210645/pexels-photo-210645.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    width: 100%;
    max-width: 480px;
    height: 350px;
}

.item8{
    grid-column: 1 / 3;
    background-image: url(https://images.pexels.com/photos/1454171/pexels-photo-1454171.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    width: 100%;
    max-width: 480px;
    height: 350px;
}

.item9{
    grid-column: 3 / 5;
    background-image: url(https://images.pexels.com/photos/567952/pexels-photo-567952.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    width: 100%;
    max-width: 480px;
    height: 350px;
}

.item10{
    grid-column: 1 / 3;
    background-image:url(https://images.pexels.com/photos/1191531/pexels-photo-1191531.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    width: 100%;
    max-width: 480px;
    height: 350px;
}

.item11{
    grid-column: 3 / 5;
    background-image:url(https://images.pexels.com/photos/3474504/pexels-photo-3474504.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    width: 100%;
    max-width: 480px;
    height: 350px;
}

.item12{
    grid-column: 1 / 3;
    background-image:url(https://images.pexels.com/photos/185489/pexels-photo-185489.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    width: 100%;
    max-width: 480px;
    height: 350px;
}

.item13{
    grid-column: 3 / 5;
    background-image:url(https://images.pexels.com/photos/157627/watch-fashion-accessories-clothes-157627.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    width: 100%;
    max-width: 480px;
    height: 350px;
}

.item14{
    grid-column: 1 / 3;
    background-image:url(https://images.pexels.com/photos/3965545/pexels-photo-3965545.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    width: 100%;
    max-width: 480px;
    height: 350px;
}

.item15{
    grid-column: 3 / 5;
    background-image:url(https://images.pexels.com/photos/3064352/pexels-photo-3064352.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    width: 100%;
    max-width: 480px;
    height: 350px;
}

.item16{
    color: black;
    width: 100%;
}

.item17{
    color: black;
    width: 100%;
}

.item18{
    color: black;
    width: 100%;
}

.item19{
    color: black;
    max-width: 240px;
}

.item20{
    color: black;
    font-weight: bold;
    padding-right: 100px;
}

.item27{
    font-weight: bold;
    padding-right: 300px;
}

.free{
    font-weight: bold;
    font-size: 30px;
}

.item16 .item17 .item18 .item19 {
    color: black;
    list-style-type: none;
    height: 100%;
    width: 100%;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.container{
    display: grid;
    grid-template-areas: 'auto auto auto auto auto auto auto auto';
    background-color: #e9e9e9;
    text-align: center;
    width: 100%;
}

.container a:hover{
    color: grey;
}

.container a:link{
    color: grey;
}

hr{
    border-color: #e9e9e9;
}

h1{
    text-align: center;
    color: white;
    margin-top: 200px;
    font-size: 40px;
    padding: 95px;
}

.item5 h1{
    margin-top: 90px;
    display: grid;
    width: 100%;
}

/* page questions */

.principal-content{
    display: grid;
    grid-template-areas: 'auto auto auto auto auto auto auto auto';
    column-gap: 6px;
    row-gap: 6px;
    margin: auto;
}

.header-content{
    display: grid;
    grid-template-areas: 'auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto';
    column-gap: 6px;
    row-gap: 6px;
}

.logo{
    grid-column: 1/5;
    text-align: left;
}

.header7{
    grid-column: 12/23;
}

.title{
    grid-column: 1/9;
    max-height: 50px;
}

.title h1{
    color: black;
    margin-top: -100px;
}

.principal-image{
    grid-column: 1/9;
    background-image: url(https://images.pexels.com/photos/1338130/pexels-photo-1338130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    max-height: 350px;
}

.principal-image h1{
    color: black;
    text-align: center;
    margin-top: 0px;
}

.ask1{
    grid-column: 1/4;
    border-right: 2px solid rgb(9, 211, 2);
    font-weight: bold;
    margin-top: 50px;
}

.ask1 p{
    padding: 5% 20% 5% 20%;
    font-size: 15px;
    margin-top: 15%;
}

.response1{
    grid-column: 4/9;
    margin-top: 50px;
}

.response1 p{
    padding: 5% 20% 5% 20%;
    font-size: 12px;
}

.ask2{
    grid-column: 1/4;
    border-right: 2px solid rgb(9, 211, 2);
    font-weight: bold;
    margin-top: 50px;
}

.ask2 p{
    padding: 5% 20% 5% 20%;
    font-size: 15px;
    margin-top: 15%;
}

.response2{
    grid-column: 4/9;
    margin-top: 50px;
}

.response2 p{
    padding: 5% 20% 5% 20%;
    font-size: 12px;
}

.ask3{
    grid-column: 1/4;
    border-right: 2px solid rgb(9, 211, 2);
    font-weight: bold;
    margin-top: 50px;
}

.ask3 p{
    padding: 5% 20% 5% 20%;
    font-size: 15px;
    margin-top: 15%;
}

.response3{
    grid-column: 4/9;
    margin-top: 50px;
}

.response3 p{
    padding: 5% 20% 5% 20%;
    font-size: 12px;
}

.ask4{
    grid-column: 1/4;
    border-right: 2px solid rgb(9, 211, 2);
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ask4 p{
    padding: 5% 20% 5% 20%;
    font-size: 15px;
}

.response4{
    grid-column: 4/9;
    margin-top: 50px;
    margin-bottom: 50px;
}

.response4 p{
    padding: 5% 20% 5% 20%;
    font-size: 12px;
}

.we{
    grid-column: 1/3;
}

.jewels{
    grid-column: 3/5;
}

.present{
    grid-column: 5/7;
}

.confidence{
    grid-column: 7/9;
    max-width: 250px;
}

/* product page */

.product-content{
    display: grid;
    grid-template-areas: 'auto auto auto auto';
}

/* .product-content div{
    border: 1px solid black;
} */

.heading1{
    grid-column: 1/5;
}

.title1{
    grid-column: 1/5;
}

.title1 h3{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.reverse{
    grid-column: 1/5;
    font-size: 12px;
}

.reverse p{
    text-align: center;
    background-color: palevioletred;
}

.more{
    color: white;
    font-size: 20px;

}

.image1{
    grid-column: 1/3;
}

.button1{
    grid-column: 3/5;
}

.button1 button{
    margin-left: 11%;
    margin-bottom: 5px;
    padding: 1% 30%;
    border-radius: 30px;
    color:white;
    background-color: rgb(253, 114, 137);
}

.price{
    color: grey;
    font-size: 18px;
}

.price1{
    color: rgb(214, 0, 0);
}

.shipping{
    font-size: 10px;
    margin-bottom: 50px;
}

.button1 ul{
    list-style-type: square;
}

.button1 .center{
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.button1 .center1{
    font-size: 14px;
}

.button1 img{
    max-width: 150px;
    max-height: 150px;
}

.button1 .text{
    font-size: 12px;
}

.image1 .image2{
    max-width: 150px;
    max-height: 150px;
}

.title-content{
    grid-column: 1/5;
    margin-top: 50px;
    margin-bottom: 20px;
}

.title-content p{
    text-align: center;
}

.content-image{
    grid-column: 1/5;
}

.content-image1 p{
    text-align: center;
    margin-bottom: 100px;
}

.content-image2 p{
    text-align: center;
    margin-bottom: 100px;
}

.content-image3 p{
    text-align: center;
    margin-bottom: 100px;
}

.content-image4 p{
    text-align: center;
    margin-bottom: 100px;
}

.confidence1{
    max-width: 260px;
}


/* category page */

.category-page{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto); */
    grid-template-areas:'header-l header header header'
                        'header-1 header-1 header-1 header-1'
                        'content content content content'
                        'footer-1 footer-2 footer-3 footer-4';
}

.category-page .div{
    background-color: black;
}

.category-page .header-l{
    grid-area: header-l;
}

.category-page .header-e{
    grid-area: header-e;
}

.category-page .header-j{
    grid-area: header-j;
}

.category-page .header-o{
    grid-area: header-o;
}

.category-page .header-s{
    grid-area: header-s;
}

.category-page .header-t{
    grid-area: header-t;
}

.category-page .header-a{
    grid-area: header-a;
}

.category-page .header-m{
    grid-area: header-m;
}


.category-page .header-f{
    grid-area: header-f;
}

.category-page .header-e{
    grid-area: header-e;
}

.category-page .header-e{
    grid-area: header-e;
}

.category-page .header-e{
    grid-area: header-e;
}


.category-page .content{
    grid-area: content;
}

.category-page .footer-1{
    grid-area: footer-1;
}

.category-page .footer-2{
    grid-area: footer-2;
}

.category-page .footer-3{
    grid-area: footer-3;
}

.category-page .footer-4{
    grid-area: footer-4;
}
